
1) We are doing a first extraction and retreatment by recreating 6 columns for our csv file.
2) We will print the number of rows of this DataFrame (almost equivelent to the number of games but not exactly)
3) Then we will work on the cleaning part.

In [1]:
import chess.pgn
import pandas as pd

# Open the PGN file
pgn_file = open("games_1990.pgn")

# Initialize a list to store the games
games_data = []

while True:
    game = chess.pgn.read_game(pgn_file)
    if game is None:
        break

    # Extract game information
    game_data = {
        "White": game.headers["White"],
        "Black": game.headers["Black"],
        "Result": game.headers["Result"],
        "Event": game.headers["Event"],
        "Date": game.headers["Date"],
        "Moves": game.mainline_moves()
    }
    games_data.append(game_data)

# Convert to DataFrame
df = pd.DataFrame(games_data)

#Convert to csv
df.to_csv("games_1990.csv", index=False)

In [2]:
df.head(20)

,White,Black,Result,Event,Date,Moves
0,?,?,0-1,?,????.??.??,
1,?,?,0-1,?,????.??.??,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2,"Jorgensen, Jorgen","Christensen, Niels",1-0,DEN-chT 8990,1990.??.??,1. Nf3 Nf6 2. c4 c6 3. g3 d5 4. Bg2 e6 5. O-O ...
3,"Albrecht, Holger","Schmid, H.",1-0,OL Wuert 8990,1990.??.??,1. d4 d5 2. c4 c6 3. Nc3 Nf6 4. Nf3 e6 5. Bg5 ...
4,"Arnold, Thomas","Rabl, Joerg Stefan",1/2-1/2,OL Wuert 8990,1990.??.??,1. Nf3 Nf6 2. d4 d5 3. e3 c6 4. Bd3 Bg4 5. c4 ...
5,"Arnold, Thomas","Rohel, Markus",0-1,OL Wuert 8990,1990.??.??,1. Nf3 d6 2. d4 Bg4 3. e3 Nd7 4. Be2 c6 5. b3 ...
6,"Bantel, Thomas","Braeunlin, Klaus",1-0,OL Wuert 8990,1990.??.??,1. d4 { (kampflos) }
7,"Bantel, Thomas","Carstens, Andreas",1/2-1/2,OL Wuert 8990,1990.??.??,1. d4 Nf6 2. c4 g6 3. Nc3 Bg7 4. e4 d6 5. Be2 ...
8,"Bantel, Thomas","Lach, Bernhard",0-1,OL Wuert 8990,1990.??.??,1. d4 d5 2. Nf3 Nc6 3. c4 e5 4. dxe5 d4 5. g3 ...
9,"Bantel, Thomas","Laengl, Juergen",1-0,OL Wuert 8990,1990.??.??,1. d4 d5 2. Nf3 Nf6 3. c4 c6 4. Nc3 dxc4 5. a4...
10,"Bantel, Thomas","Lenz, Juergen",1/2-1/2,OL Wuert 8990,1990.??.??,1. d4 Nf6 2. Nf3 d6 3. g3 Bf5 4. Bg2 c6 5. O-O...
11,"Bantel, Thomas","Loercher, Hermann",1-0,OL Wuert 8990,1990.??.??,1. d4 Nf6 2. Nf3 e6 3. c4 d5 4. Nc3 c6 5. e3 B...
12,"Bauer, J.","Rabl, Joerg Stefan",0-1,OL Wuert 8990,1990.??.??,1. c4 c6 2. Nc3 d5 3. e3 Nf6 4. Nf3 Bf5 5. b3 ...
13,"Bauer, Peter","Birke, Matthias",1-0,OL Wuert 8990,1990.??.??,1. e4 c6 2. d4 d5 3. Nd2 dxe4 4. Nxe4 Nf6 5. N...
14,"Bauer, Peter","Held, Paul",0-1,OL Wuert 8990,1990.??.??,1. e4 e5 2. Nf3 Nc6 3. Bb5 f5 4. Nc3 Nd4 5. Nx...
15,"Bauer, Peter","Holzhaeuer, Mathias",0-1,OL Wuert 8990,1990.??.??,1. a4 { kampflos }
16,"Bauer, Peter","Lang, T.",0-1,OL Wuert 8990,1990.??.??,1. e4 e5 2. Nf3 Nc6 3. Bb5 Nf6 4. d3 Nd4 5. Nx...
17,"Bendel, Ralf","Gaus, Wolfgang",0-1,OL Wuert 8990,1990.??.??,1. e4 e6 2. d4 d5 3. exd5 exd5 4. c4 Nf6 5. Nf...
18,"Bendel, Ralf","Maier, Peter",0-1,OL Wuert 8990,1990.??.??,1. e4 c5 2. c3 Nc6 3. d4 cxd4 4. cxd4 d5 5. ex...
19,"Bendel, Ralf","Rohel, Markus",1/2-1/2,OL Wuert 8990,1990.??.??,1. e4 e5 2. Nf3 Nc6 3. Bb5 Nf6 4. O-O Bc5 5. c...

In [3]:
#2 Number of rows of this DataFrame
display('Number of rows : ',len(df))

'Number of rows : '

63203

In [4]:
# Cleaning:
""" 
Basically this csv is already cleaned but we can achieve some minor improvements.
We can remove the first row , we can remove also rows where 
"kampflos" is present, or "een" (human error ?) (in 'Moves' column).
Also we can see that there is Date in the format "1990.??.??" for the majority of rows
and a full date for a minority of rows (ie : 1990.11.04).We could eventually decide to
print only 1990 when there is ?? but i think that it is more coherent to keep the same 
format everywhere.And what are the column types?

"""

' \nBasically this csv is already cleaned but we can achieve some minor improvements.\nWe can remove the first row , we can remove also rows where \n"kampflos" is present, or "een" (human error ?) (in \'Moves\' column).\nAlso we can see that there is Date in the format "1990.??.??" for the majority of rows\nand a full date for a minority of rows (ie : 1990.11.04).We could eventually decide to\nprint only 1990 when there is ?? but i think that it is more coherent to keep the same \nformat everywhere.And what are the column types?\n\n'

In [5]:
df.dtypes

White     object
Black     object
Result    object
Event     object
Date      object
Moves     object
dtype: object

In [6]:
#Drop the first row permanently
df.drop(index=0, inplace=True)

In [7]:
# Drop rows containing "kampflos" or other pattern in "Moves" column
# First we create a mask of lines containing what we want
mask = df["Moves"].str.contains("kampflos") | df["Moves"].str.contains("een")
# Then we exclude the mask from the DataFrame
df = df[~mask]
df

,White,Black,Result,Event,Date,Moves
1,?,?,0-1,?,????.??.??,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2,"Jorgensen, Jorgen","Christensen, Niels",1-0,DEN-chT 8990,1990.??.??,1. Nf3 Nf6 2. c4 c6 3. g3 d5 4. Bg2 e6 5. O-O ...
3,"Albrecht, Holger","Schmid, H.",1-0,OL Wuert 8990,1990.??.??,1. d4 d5 2. c4 c6 3. Nc3 Nf6 4. Nf3 e6 5. Bg5 ...
4,"Arnold, Thomas","Rabl, Joerg Stefan",1/2-1/2,OL Wuert 8990,1990.??.??,1. Nf3 Nf6 2. d4 d5 3. e3 c6 4. Bd3 Bg4 5. c4 ...
5,"Arnold, Thomas","Rohel, Markus",0-1,OL Wuert 8990,1990.??.??,1. Nf3 d6 2. d4 Bg4 3. e3 Nd7 4. Be2 c6 5. b3 ...
...,...,...,...,...,...,...
63198,"Norri, Joose","Sorri, Kari Juhani",0-1,Helsinki HM,1990.??.??,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
63199,"Dirr, Ulrich","Brandics, Janos",1-0,Kecskemet III-B,1990.??.??,1. Nf3 Nf6 2. g3 c5 3. Bg2 Nc6 4. O-O d5 5. d3...
63200,"Brandics, Janos","Mann, Gerald",1/2-1/2,Kecskemet III-B,1990.??.??,1. d4 f5 2. Bg5 g6 3. e4 fxe4 4. Nc3 Bg7 5. Nx...
63201,"Siklosi, Zoltan","Donko, Matyas",1/2-1/2,Kecskemet III-B,1990.??.??,1. e4 c5 2. Nf3 e6 3. c4 d6 4. d4 cxd4 5. Nxd4...
63202,"Hernandez Velasco, Jesus","Romero Albillos, Tomas",1-0,Valladolid CC Regalado 15th,1990.05.14,1. e4 c5 2. Nf3 Nc6 3. Bc4 d6 4. d4 cxd4 5. Nx...

In [8]:
"""
# We convert an object to a datetime: (to_datetime) with errors='coerce' to deals with 
# invalid values.
df['Date'] = pd.to_datetime(df['Date'], format='%Y.%m.%d' , errors='coerce')
#Finally we replace NaT by "1990-01-01" , in case we would like to reuse these datas 
#with other years
df['Date'] = df['Date'].fillna(pd.to_datetime("1990-01-01"))
df['Date']
"""

'\n# We convert an object to a datetime: (to_datetime) with errors=\'coerce\' to deals with \n# invalid values.\ndf[\'Date\'] = pd.to_datetime(df[\'Date\'], format=\'%Y.%m.%d\' , errors=\'coerce\')\n#Finally we replace NaT by "1990-01-01" , in case we would like to reuse these datas \n#with other years\ndf[\'Date\'] = df[\'Date\'].fillna(pd.to_datetime("1990-01-01"))\ndf[\'Date\']\n'

In [ ]:
# Convert the Date column to strings to handle non-string values
df['Date'] = df['Date'].astype(str)

# Replace dates like "1990.??.??" with "1990.01.01" to make them valid
df['Date'] = df['Date'].apply(lambda x: '1990.01.01' if '??' in x else x)

# To datetime with error handling
df['Date'] = pd.to_datetime(df['Date'], format='%Y.%m.%d', errors='coerce')

# Replace NaT values with "1990-01-01" for any remaining invalid dates
df['Date'] = df['Date'].fillna(pd.to_datetime("1990-01-01"))

print(df['Date'])

1       1990-01-01
2       1990-01-01
3       1990-01-01
4       1990-01-01
5       1990-01-01
           ...
63198   1990-01-01
63199   1990-01-01
63200   1990-01-01
63201   1990-01-01
63202   1990-01-01
Name: Date, Length: 63202, dtype: datetime64[ns]

In [13]:
df.dtypes

White             object
Black             object
Result            object
Event             object
Date      datetime64[ns]
Moves             object
dtype: object

In [14]:
df.head()

,White,Black,Result,Event,Date,Moves
1,?,?,0-1,?,1990-01-01,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2,"Jorgensen, Jorgen","Christensen, Niels",1-0,DEN-chT 8990,1990-01-01,1. Nf3 Nf6 2. c4 c6 3. g3 d5 4. Bg2 e6 5. O-O ...
3,"Albrecht, Holger","Schmid, H.",1-0,OL Wuert 8990,1990-01-01,1. d4 d5 2. c4 c6 3. Nc3 Nf6 4. Nf3 e6 5. Bg5 ...
4,"Arnold, Thomas","Rabl, Joerg Stefan",1/2-1/2,OL Wuert 8990,1990-01-01,1. Nf3 Nf6 2. d4 d5 3. e3 c6 4. Bd3 Bg4 5. c4 ...
5,"Arnold, Thomas","Rohel, Markus",0-1,OL Wuert 8990,1990-01-01,1. Nf3 d6 2. d4 Bg4 3. e3 Nd7 4. Be2 c6 5. b3 ...

In [15]:
df.to_csv("games_1990.csv")

In [30]:
pd.set_option('display.max_columns', None)
#df['Moves'].loc[2]
#df['Moves'].str.len()

df['moves_length'] = df['Moves'].str.len()
df['moves_length']
df['Moves'].dtype

dtype('O')

In [ ]:
df['moves_length'] = df['Moves'].astype(str).str.len()
df['moves_length'].max()  # is 2346 , so i do : Moves VARCHAR(3000) in my TABLE GAMES_1990

np.int64(2346)